</div> <!-- Close sidebar div -->

<div class="smallContainer">
	<h1>Edit settings for <%= @user.name %></h1>
	<%= form_for(@user) do |f| %>
	<ul class="form">
		
		<%= render :partial => 'selectFontAndTextColor',
												:locals => { :f => f } %>

		<li><br /><%= f.submit "Submit" %></li>
	</ul>
	<% end %>


<div>
	<%= link_to "User index", user_list_path %>
</div>

</div>
