<%# Fuctionality to create new message %>
<%= form_for @new_message do |f|%>

			<!-- <div>
				<%= f.label :title, "Title, 25 character maximum" %>
				<%= f.text_field :title %>
			</div> -->

			<%# flash.each do |key,value| %>
			<div class="flash messageFlash"><%= flash[:messageFlash] %></div>
			<%# end %>

			<div>
				<%= f.label :content, "800 character maximum" %>
				<%= f.text_area :content %>
			</div>

			<!-- <div>
				<%= f.hidden_field :author  %>
			</div> -->


			<div>
				<%= f.submit "Submit" %>
			</div>

		<% end %>
