<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lora|Ubuntu|Bad+Script|Open+Sans|Coming+Soon|Fondamento' rel='stylesheet' type='text/css'>
  <title>Message Board | <%= @title %></title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <%= stylesheet_link_tag "styles_for_message_board" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
	<div class = "container">
		<div id="header">Message board</div>
		<div class="innerContainer"> 

			<div class="sidebar">
				<div id = "nav">
					<ul>

					<li><%= link_to "Message Board", messages_path %></li>
					<li><%= link_to "User List", user_list_path  %></li>

					<li><%= link_to "Sign up", new_user_path %></li>

					<% if signed_in? %>
						<li><%= link_to "Sign out", signout_path, :method => :delete %>
						</li>
					<% else %>
						<li><%= link_to "Sign in", signin_path %></li>
					<% end %>

				</ul>
				</div>

<%= yield %>

		</div> 
	</div>
</body>
</html>
